body {
	background: url(../img/stars.jpg) #000;
}
input {
	line-height: 40px;
    width: 300px;
    font-size: 20px;
    color: black;
    display: block;
}
label {
	display: block;
}
header {
	background: #0B3D91;
	border-bottom: 3px solid grey;
	color: white;
}
header a {
	color: white;
    line-height: 69px;
}
main {
	padding: 20px;
	color: #fff;
}
#carousel {
	width: 500px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.carousel-wrapper {
	text-align: center;
}
.error {
	color: red;
    margin-bottom: 15px;
}
.success {
	color: green;
	margin-top: 15px;
}